.App {
  text-align: center;
}

#hudContainer {
  padding: 10px;
}

#animal-list-container {
  padding: 10px;
  background: #ff9999;
}

.animal-list-item-grid {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1%;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ff9999;
  background: #ffe5e5;
}
